body {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.box-container {
  margin: 0 50px;
}

#scoreList {
  width: 600px;
  height: 500px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.addBox {
  min-width: 500px;
}
